<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="org.springframework:spring-webmvc:5.1.9.RELEASE" />
          <element id="library" level="application" name="javax.validation:validation-api:2.0.1.Final" />
          <element id="library" level="application" name="org.hibernate:hibernate-validator:6.0.17.Final" />
          <element id="library" level="application" name="com.fasterxml.jackson.core:jackson-databind:2.10.0" />
          <element id="library" level="application" name="commons-fileupload:commons-fileupload:1.4" />
          <element id="library" level="application" name="jstl:jstl:1.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>